<%= form_for(@service, :html => { :multipart => true }) do |f| %>
<fieldset>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <% if @service.image.exists? %>	
	<%= image_tag @service.image(:thumb) %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :name, 'Nombre del servicio' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :file, 'Subir imagen' %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :category_id, 'Escoger categoría' %>
    <%= f.select(:category_id, @categories.collect { |p| [p.name, p.id]}) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>
<% end %>
