<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
   <%= csrf_meta_tag %>

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= title :site => "Medical Laboral - LMS Consulting" %>
<meta name="description" content="Somos una organización especializada que brinda servicios enfocados en temas de salud ocupacional, capacitaciones, selección de personal dirigida al profesional, organizaciones y público en general buscando que nuestros clientes sean más productivos." />
  <meta name="keywords" content="Chequeos médicos ocupacionales, Implementación de sistemas de gestión, capacitaciones." />
  <meta name="robot" content="index,follow" />
  <meta name="copyright" content="Copyright &copy; <%= Time.now.year %> Laboral Medical." />
  <meta name="author" content="Kosmyka.com" />
  <meta name="language" content="Spanish" />
  <meta name="revisit-after" content="1" />
  <meta name="googlebot" content="index,follow" />
  <meta name="city" content="Lima" />
  <meta name="country" content="Peru" />
  <meta name="state" content="Lima" />
  <meta name="zip code" content="Lima 18" />
  <meta name="subject" content="Laboral Medical" />
  <meta name="geo.position" content="-9;-75" />
  <meta name="geo.country" content="PE" />
  <meta name="geo.region" content="PE-LIM" />
  <meta name="geo.placename" content="Miraflores" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.png' %>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media="all" -->
  <%= stylesheet_link_tag "960_16_col", "jawdropper_slider", "lightbox/themes/default/jquery.lightbox", "style", "application", :media => "all", :cache => "powerhouse" %>
<!--[if lt IE 9]>
<script type="text/javascript">
	document.createElement('nav');
	document.createElement('header');
	document.createElement('footer');
	document.createElement('section');
	document.createElement('aside');
	document.createElement('article');
	document.createElement('figure');
	document.createElement('figcaption');
</script>
<![endif]-->

</head>

<body class="album1">
  <div id="container">

    <header id="header-main">
    	<div class="container_16">
        	<header>
            	<nav id="menu-secondary">
            		<ul>
                		<li><a href="contacto" class="contacto"><span style="display:none">Contacto</span></a></li>
                		<li><a href="https://www.facebook.com/pages/Laboral-Medical-Service-EIRL/275466269186823" class="facebook"><span style="display:none">Facebook</span></a></li>

                	</ul>
    			</nav>

            </header>

            <section>
                <%= link_to(@home) do %>

            	<%= link_to (image_tag("3-images/logo.png", :size => "330x80", :alt => "LabMedical", :id => "logo")), root_path %>
		<% end %>
            	<nav id="menu-main">
            		<ul>
                		<li class="servicios">
				  <%= link_to_unless_current("", {:controller => "services", :action => "index"}) do %>
				    <span>Servicios</span>
				  <% end %>
				</li>

                   	 	<li class="blog">
				  <%= link_to_unless_current("",  { :controller => "posts", :action => "index"}) do %>
                                    <span>Blog</span>
				  <% end %>
				</li>

                   	 	<li class="fotos">
				  <%= link_to_unless_current("",  { :controller => "albums", :action => "index"}) do %>
					<span>Fotos</span>
				  <% end %>
				</li>

                		<li class="staff">
				  <%= link_to_unless_current("",  { :controller => "members", :action => "index"}) do %>
                                    <span>Staff</span>
                                  <% end %>
				</li>

                    		<li class="estrategicas">
				  <%= link_to_unless_current("",  { :controller => "alliances", :action => "index"}) do %>
                                    <span>Alianzas Estratégicas</span>
                                  <% end %>
				</li>
                	</ul>
    			</nav>
            </section>


        </div>
    </header>


  <%= yield %>





  <section id="postcript-bottom">
        <div class="container_16">
        	<article class="logos-empresas">
            	<figure>
                	<figcaption>
                    	Conf&iacute;an en Laboral Medical:
                    <figcaption>
            		    <img src="/images/3-images/logo-cinemark.png" />
                    <img src="/images/3-images/logo-thomas-greg.png" />
            		    <img src="/images/3-images/logo-braedt.png" />
                    <img src="/images/3-images/logo-jne.png" />
                </figure>
            </article>
        </div>
    </section>


  <footer id="footer-main">
		<div class="container_16">
        	<article>
        		<span>Encuentranos en:</span>
                <p>
                	<a><span>Grimaldo del Solar 231 Of. 101</span></a>
					<a><span>Miraflores, Lima.</span></a>
                </p>
			</article>
            <article>
        		<span>Ll&aacute;manos</span>
                <p>
                	<a><span>2495257 / 4455059</span></a>
					<a><span>999857980 / 413*1130</span></a>
                </p>
            </article>
            <article class="social-buttons">
        		<span>Socializemos</span>
                <p>
                	<a href="https://www.facebook.com/pages/Laboral-Medical-Service-EIRL/275466269186823" class="facebook"></a>
                    <!--<a href="" class="rss"></a>-->
                </p>
            </article>
            <article>
        		<span>Escr&iacute;benos1</span>
                <p>
                	<a href="mailto:info@laboralmedicalperu.com"><span>info@laboralmedicalperu.com</span></a>
                </p>
            </article>
        </div>
    </footer>
  </div> <!--! end of #container -->












  <!-- JavaScript at the bottom for fast page loading -->


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <%= javascript_include_tag 'mylibs/lightbox/jquery.lightbox.min', 'script', :cache => 'powerfactory' %>
  <!-- end scripts-->





  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-28243416-1 to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-28243416-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
